<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.control_estacionamiento_utec_electiva_i">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vigilante.reservadosVigilante" />
        <activity android:name=".Vigilante.disponiblesVigilante" />
        <activity android:name=".Vigilante.detallecVigilante" />
        <activity android:name=".Vigilante.comentarioVigilante" />
        <activity android:name=".Vigilante.marcarVigilante" />
        <activity android:name=".Vigilante.notificacionesVigilante" />
        <activity android:name=".Vigilante.perfilVigilante" />
        <activity android:name=".Vigilante.inicioVigilante" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>